/* me cago en dios xDDDDDDDD */

@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/BasicBackground/BasicBackground.css);

@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
* { 
    font-family:'Share Tech Mono', monospace !important ;
}

:root {
    --background:url('https://i.imgur.com/obgGDzT.jpeg');
    --backgroundsize:cover;
    --backgorundposition:center;
    --backgroundblur:0px;
    --popout:var(--background);
    --popoutsize:var(--backgroundsize);
    --backgroundposition:center;
    --popoutblur:0px;
    --version1_0_5:			none;	
    --transaprecycolor:0,0,0;
    --transparencyalpha: 0.3;
    --messagetransparency: 0;
    --guildchanneltransparency: 0.3;
  --chatinputtransparency: 0.3;
  --memberlisttransparency: 0.3;
  --textbrightest: 255,255,255;
  --textbrighter: 222,222,222;
  --textbright: 200,200,200;
  --textdark: 160,160,160;
  --textdarker: 125,125,125;
  --textdarkest: 90,90,90;
  --settingsicons: 1;
  --backdropsize: var(--background-size);
  --backdropblur: 0px;
  --version1_0_5: none;
  --backdrop:rgba(167, 167, 167, 0.8);
  --accentcolor: 51,97,153;
  --home-icon:url('https://i.imgur.com/UvKuvEW.png');

}


/* Oculta el icono original */
[href="/channels/@me"] svg {
  display: none;
}

/* Inyecta tu logo */
[href="/channels/@me"]::before {
  content: "";
  display: block;
  width: 28px;
  height: 28px;
  background-image: url("https://i.imgur.com/UvKuvEW.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

/* Centrar verticalmente */
[href="/channels/@me"] {
  display: flex;
  align-items: center;
  justify-content: center;
}

[href="/channels/@me"] svg {

  background-image: url("https://i.imgur.com/UvKuvEW.png");
}

